<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				Live Your Sports
			{% endblock%}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="col-sm-9">
		<h1 class="text-center">LiveYourSports.com</h1>
		<div class="container">
		{% block content %}
			{% if user.is_authenticated %}
    			<h3 class="text-center">Welcome,{{request.user.first_name}}</h3>
				<a href = "#">Home</a></br>
				<a href = "{% url 'create_order' %}">Create New Order</a></br>
				<a href = "{% url 'dashboard' %}">Order List</a></br>
				
				<p> User {{request.user.username}}, Signed In Successfully</br>
				If you want to sign Out this page click...
				<a href = "{% url 'logout_page' %}">Logout</a></br></p>
			{% else %}
				<h3 class="text-left">Welcome, New User Please log in...</h3>
				
				<p><a href = "{% url 'create_account' %}">Create Account</a></p>
				<p><a href = "{% url 'login' %}">Log In </a></p>
			{% endif %}
		{% endblock %}
		</div>
		</div>
	</body>
</html>
